@charset "UTF-8";
@import url(http://hanggu.dothome.co.kr/200528/cssReset/reset.css);

* {
  color: #333;
  box-sizing: border-box;
	padding: 0;
}

div#wrap {
  width: 1200px;
  margin: 0 auto;
}

header#header {
  height: 100px;
  position: relative;
}

#header div#logo {
  padding-top: 30px;
}

#header>nav#gnb {
	position: absolute;
	right: 0;
	top: 47px;
	z-index: 9999;
}

#header ul {
	list-style: none;
}

#header ul#mainMenu {
	width: 700px;
	text-align: center;
}

#header ul#mainMenu::after {
	content: "";
	clear: both;
	display: block;
}

#header ul#mainMenu li:last-child {
	border-right: 1px solid #ccc;
}

#header ul#mainMenu>li {
	width: 170px;
	font-weight: bold;
	padding: 4px 0px;
	border: 1px solid #ccc;
	border-right: none;
	float: left;
}

#header ul#mainMenu>li:hover{
	background-color: #3cb149;
}

#header ul#mainMenu>li:hover>a {
	color: #fff;
}

#header ul#mainMenu>li>a {
	font-size: 20px;
}

div#subMenu {
	width: 1200px;
	background-color: #1d8844;
	display:flex;
	position: absolute;
	z-index: 1;
}

div#subMenu ul {
	width: 170px;
	list-style: none;
	position: relative;
	left: 500px;
}

div#subMenu ul li {
	text-align: center;
	padding: 4px;
}

div#subMenu ul li:hover {
	background-color: #434748;
}

div#subMenu ul li:hover>a {
	color: #fff;
	font-weight: bold;
}


div#slideImg {
  height: 300px;
  background-image: url(../images/slideshow_01.png);
  background-size: 1200px 300px;
  overflow: hidden;
  clear: both;
}

div#slideImg div#slideText {
  width: 300px;
  height: 150px;
  line-height: 50px;
  color: rgba(9, 157, 9, 0.89);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);

  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div#slideImg div#slideText span {
  color: #005700;
}

main#main {
  height: 200px;
  margin-top: 10px;
}

#main div#mainLayout {
  display: flex;
}

div#bbs {
  flex: 1;
}

div#bbs button {
  font-size: 18px;
  color: #fff;
  border: none;
  padding: 4px 10px;
  background-color: #1d8844;

  position: relative;
  left: 20px;
}

div#bbs table {
  width: 380px;
  border: 1px solid #1d8844;
}

div#bbs table tr td {
  padding: 8px;
}

div#gallery {
  width: 380px;
  height: 200px;

  flex: 1;
}

div#gallery button {
  font-size: 18px;
  color: #fff;
  border: none;
  padding: 4px 10px;
  background-color: #1d8844;

  position: relative;
  left: 20px;
}

div#galleryFlex {
  height: 160px;
  border: 1px solid #1d8844;
  display: flex;
}

div#galleryFlex img {
  height: 160px;
  padding: 8px;
  overflow: hidden;
  flex: 1;
}

div#banner {
  text-align: center;
  padding-top: 50px;
  flex: 1;
}

footer#footer {
  height: 100px;

  display: flex;
}

#footer div#footerLogo {
  width: 200px;
  padding-top: 30px;
}

#footer div#copyright {
  width: 800px;
  font-size: 14px;
  text-align: center;
  padding-top: 40px;
}

#footer div#familySite {
  width: 200px;
  padding-top: 30px;
}

#footer div#familySite select {
  width: 180px;
  height: 50px;
  font-size: 18px;
	padding-left: 8px;
}
